
$grid-gap: 1.5rem !default
$grid-column-gap: $grid-gap !default
$grid-row-gap: $grid-gap !default

$grid-column-row-count: 20 !default
$grid-column-count: $grid-column-row-count !default
$grid-row-count: $grid-column-row-count !default

$grid-nesting-count: 0 !default

$grid-resizeable: true !default
$grid-columns-resizeable: $grid-resizeable !default
$grid-rows-resizeable: $grid-resizeable !default

$grid-breakpoints-enabled: true !default
$grid-mobile-enabled: $grid-breakpoints-enabled !default
$grid-tablet-enabled: $grid-breakpoints-enabled !default
$grid-touch-enabled: $grid-breakpoints-enabled !default
$grid-desktop-enabled: $grid-breakpoints-enabled !default
$grid-widescreen-enabled: $grid-breakpoints-enabled !default
$grid-fullhd-enabled: $grid-breakpoints-enabled !default
